[defaults]
inventory = hosts.ini
host_key_checking = False
remote_user = ubuntu

[ssh_connection]
# El pipelining hace que todo sea mucho más rápido
pipelining = True
ssh_args = -o IdentitiesOnly=yes -o KexAlgorithms=ecdh-sha2-nistp256 -o ControlMaster=auto -o ControlPersist=30m

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False